@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $dark-color;
  font-weight: 400;
  // padding: 0rem 5.6rem;
  margin-bottom: 0;
  color: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero-title {
  font-family: 'Alfa Slab One', 'cursive';
  font-size: $big-font-size;
  font-weight: 100;
  margin-bottom: 3.2rem;
  text-align: left;
  color: $title-text;
}

.hero-accent {
  font-family: 'Alfa Slab One', 'cursive';
  font-size: 4.5rem;
  // font-weight: 400;
  margin-bottom: 3.2rem;
  text-align: left;
  color: $accent-color;
}