@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.subtitle{
  font-size: $mid-font-size;
  font-family: 'Alfa Slab One', 'cursive';
  margin-bottom: 1rem;
  color: $dark-color2;
  margin-top: 0;
}