$white-color: #fff;
$dark-color: rgb(99, 126, 141);
// $accent-text: #a6e3ff; 
$accent-color: #a6e3ff; 
$title-text: rgb(240, 240, 240); 

// FONT SIZE
$default-font-size: 1rem;
$big-font-size: 4.5rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.5rem;
