@import "~bootstrap/scss/bootstrap";
@import 'bootstrap/dist/css/bootstrap.min.css';

@import './variables';
@import './typography';

@import './components/hero';
@import './components/about';
@import './components/title';
@import './components/statsbar';
@import './components/derek-image';

.App{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}



